.env

# dependencies
/node_modules
**/node_modules

# next.js build output
/.next
**/.next
/out
**/out

# local env
.env*.local
**/.env*.local

# deploy
/.vercel
**/.vercel

# TypeScript cache
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

# turbo
.turbo

# system files
.DS_Store
Thumbs.db
